.projects {
    width: 90%;
    margin: 0 auto;
}
.projects-container {
}
p{
    font-family: "Poiret One", serif;
    font-size: 20px;
    text-align: justify;
    color: rgb(163, 163, 161);
    text-indent: 40px;
}
h3{
    font-family: "Poiret One", serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: rgb(163, 163, 161); 
}